global !p
import sniputils
endglobal

snippet uiobj "UI5Object definition" 

sap.ui.define([
		"sap/ui/base/Object",
		$1
	], function (UI5Object`!p snip.rv = sniputils.params_from_deps(t[1])`) {

	"use strict";

	return UI5Object.extend("${2:my.app.namespace}.controller.${3:MyObject}", {

		constructor : function (oComponent) {
			${VISUAL}$0
		},

	});

});

endsnippet    
